table{
					width: 100%;
					border-collapse: collapse;
					margin-top: 15px;
				}
				th,td{
					border: 1px dashed saddlebrown;
					text-align:center;
					padding: 8px;
				}
				th{
					background-color: burlywood;
				}
				td{
					background-color:lightgoldenrodyellow;
				}
				button{
					margin-left: 5px;
					background-color: wheat;
					border: 0px;
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
				}
				